/**************************************************\
 * Fraction.less - Primary stylesheet             *
 *                                                *
 * Modify your grid.less and normalize.less first *
 * Always concatenate and minify for production.  *
 * Don't forget to compile your .less files       *
\**************************************************/



/* CSS "reset" */
@import url('normalize.css');

/* Grid Framework */
@import url('grid.css');

/*:::: COLORS ::::*/

@green: #007F4C;
@orange: #FF5C00;
@gold: #EAD78C;
@white: #E3E5E4;
@black: #2D2C26;
dblack: #191919;

/*:::: MIXINS ::::*/
.centered {
	margin-left: auto;
	margin-right: auto;
}

.border-radius (@radius: 10px) {
	-moz-border-radius: @arguments;
	-o-border-radius: @arguments;
	-webkit-border-radius: @arguments;
	border-radius: @arguments;
}

.box-shadow (@x: 0, @y: 0, @blur: 5px, @color: #fff) {
  -o-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.inset-shadow (@inset: inset, @x: 0, @y: 0, @blur: 5px, @color: #fff) {
  -o-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.text-shadow (@x: 0, @y: 0, @blur: 1px, @color: #fff) {
  -o-text-shadow: @arguments;
  -moz-text-shadow: @arguments;
  -webkit-text-shadow: @arguments;
  text-shadow: @arguments;
}

/* BACKGROUND GRADIENT MIXINS */

.nav-bg {
	background: #00af66; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #00af66 0%, #007f4c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#00af66), color-stop(100%,#007f4c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #00af66 0%,#007f4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #00af66 0%,#007f4c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #00af66 0%,#007f4c 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #00af66 0%,#007f4c 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00af66', endColorstr='#007f4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.link-btn-bg {
	background: #00b76b; /* Old browsers */
background: -moz-linear-gradient(top,  #00b76b 0%, #007f4c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b76b), color-stop(100%,#007f4c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00b76b 0%,#007f4c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00b76b 0%,#007f4c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00b76b 0%,#007f4c 100%); /* IE10+ */
background: linear-gradient(top,  #00b76b 0%,#007f4c 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b76b', endColorstr='#007f4c',GradientType=0 ); /* IE6-9 */

}

.link-btn-hvr {
	background: #f7e6ad; /* Old browsers */
background: -moz-linear-gradient(top,  #f7e6ad 0%, #ead78c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e6ad), color-stop(100%,#ead78c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7e6ad 0%,#ead78c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7e6ad 0%,#ead78c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7e6ad 0%,#ead78c 100%); /* IE10+ */
background: linear-gradient(top,  #f7e6ad 0%,#ead78c 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e6ad', endColorstr='#ead78c',GradientType=0 ); /* IE6-9 */

}

.footer-bg {
	background: #f7e6ad; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #f7e6ad 0%, #ead78c 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f7e6ad), color-stop(100%,#ead78c)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #f7e6ad 0%,#ead78c 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #f7e6ad 0%,#ead78c 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #f7e6ad 0%,#ead78c 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  #f7e6ad 0%,#ead78c 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e6ad', endColorstr='#ead78c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/*:::: TYPOGRAPHY ::::*/
 /* Hint: replace this comment with styles for each h, 1-6. Sizes for each need specification */
h1, h2, h3, h4, h5, h6 {
	font-family: Petrona, Times, serif;
	font-weight: bold;
	color: @black;
}

body, p {
  font-size: 15px;
  line-height: 24px;
  color: @black;
  font-family: 'Tenor Sans', Helvetica, Arial, sans-serif;
}

h6 {
  font-size: 18px;
  line-height: 26px;
}

h5 {
  font-size: 22px;
  line-height: 28px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 34px;
  line-height: 42px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

/*:::: BUTTONS ::::*/

/* For styling links as buttons */
.link-button {
  padding: 10px;
  color: @gold;
  .text-shadow(0, 1px, 1px, @white);
  .border-radius(6px);
  .link-btn-bg;
  border: 1px solid @white;
  .box-shadow(0, 0, 5px, @black);
  text-decoration: none;
}

.link-button:hover {
	.link-btn-hvr;
	color: @black;
	.text-shadow(0, 1px, 1px, @white);
	.box-shadow(0, 0, 3px, @black);
}

/*:::: FORMs ::::*/

textarea {
  .border-radius(6px);
  .box-shadow(0, 0, 3px, @black);
}

input[type=text], input[type=email], input[type=password] {
  .border-radius(6px);
  .box-shadow(0, 0, 3px, @black);
  margin-bottom: 10px;
}

input[type=submit] {
  .border-radius(6px);
  .box-shadow(0, 0, 3px, @black);
  .link-btn-hvr;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  .border-radius(6px);
  .box-shadow(0, 0, 3px, @gold);
  border: 1px solid @white;
  background: @white;
}

input[type=submit]:focus {
  .border-radius(6px);
  .box-shadow(0, 0, 3px, @gold);
  border: 1px solid @white;
}

/*:::: NAVIGATION :::: */

.nav-center {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

#main-nav li {
	display: inline;
	margin-right: 15px;
}

nav a, nav a:visited {
	font-size: 24px;
	font-family: Petrona, Times, serif;
	text-decoration: none;
	color: @gold;
	.text-shadow(0, 1px, 1px, @white);
}

nav a:hover {
	color: @white;
	.text-shadow(0, 1px, 1px, @black);
	background: @green;
	padding: 15px;
	border-left: 1px solid @white;
	border-right: 1px solid @white;
	.box-shadow(0, 0, 3px, @black);
	.border-radius(3px);
}

/**************************************\
|* THE REST OF YOUR STYLES BELOW HERE *|
\**************************************/

body {
	background: @green;
}

header {
	background: @white;
}

nav {
	.nav-bg;
	.box-shadow(0, 0, 3px, @black);
	border-top: 1px solid @white;
	border-bottom: 1px solid @white;
}

#main-container {
	background: #fff;
	background-image: url(../img/design/hbg.png);
	.box-shadow(0, 0, 3px, @black);
	border-top: 1px solid @white;
}

footer {
	.footer-bg;
	.box-shadow(0, 0, 5px, @black);
	border-top: 1px solid @white;
	.text-shadow(0, 1px, 1px, @white);
}

footer p {
	size: 10px;
	line-height: 18px;
}

footer a, footer a:visited {
	color: @green;
}

footer a:hover {
	text-decoration: none;
}

















/*:::: SPACIAL CLASSES ::::*/

#footer-nav {
	list-style: none;
}

#soc-list {
	list-style: none;
}
#soc-list li {
	margin-bottom: 15px;
}

#soc-list a {
	text-decoration: none;
	padding: 10px;
	border: 1px solid @white;
	.box-shadow(0, 0, 3px, @black);
	.border-radius(6px);
	background: @white;
	color: @black;
	.text-shadow(0, 1px, 1px, @gold);
}

#soc-list a:hover {
	background: @green;
	color: @white;
	.text-shadow(0, 1px, 1px, @black);
}

#soc-list img {
	vertical-align: middle;
}

/*:::: HELPER CLASSES ::::*/

/*
 * Define your styles first. Add media queries below here.
 */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
 
/* Hidden from browsers and screen readers */
.hidden { display: none !important; visibility: hidden; }
 
/*  Hidden visibly but available to screenreaders. Same as .hidden but good for accessibility */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
 
/* Extends .visually hidden to allow element to be focusable when using the keyboard */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
 
/* Hide visually and from screenreaders, but maintain layout. Think of it as having an element match the background - looks hidden but affects other elements. Cannot be highlighted */
.invisible { visibility: hidden; }
 
/* Contain floats: h5bp.com/q This is a godsend in many cases */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
 
 
 
/* =============================================================================
 
   Use Media Queries for Responsive Design.
   Pixel widths given as samples.
   Edit the widths to suit where your design breaks, rather than
   for device pixels, see 'Using a mobile-first approach': h5bp.com/w
   ========================================================================== */
 
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
 
}
 
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
 
}
 
 
 
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
  
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}